
::-webkit-scrollbar {
	width: 1px;
	height: 1px;
}

::-webkit-scrollbar-button {
	width: 1px;
	height: 1px;
}

div {
	box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #1C2E35;
  color: #F7E8D3;
  font-weight: 300;
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: inherit !important;
}

.menu li:hover {
  background: #31444B;
}

.copyright {
  font-size: 1.45em;
  margin: 0 0.625em;
}

.dark-text {
  color: #A4978E;
}

.dropdown a {
  line-height: 3em;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: none;
}

.dropdown.menu > li > .is-dropdown-submenu {
  border: 0;
  border-left: 2px solid #7E7570;
  left: 0;
  right: auto;
}

.footer {
  background: linear-gradient(to bottom right, #0D1A1E, #1C2E35);
  height: 50vh;
  padding: 2em;
  position: relative;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 1.15em;
}

.footer-content-wrapper {
  height: 35vh;
}

.footer-copyright-wrapper {
  color: #79736d;
}

.footer-line {
  border-bottom: 1px solid;
  height: 1.15em;
  text-align: center;
}

.footer-note {
  border-left: 1px solid #79736d;
  height: 50%;
  padding: 10vw;
  width: 100%;
}

.hero {
  background: linear-gradient(to bottom right, #0D1A1E, #1C2E35);
  height: 90vh;
  position: relative;
  z-index: 3;
}

.hero:after {
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.horizontal-scroll-wrapper {
	position: absolute;
	display: block;
	top: 20vh;
	left: 0;
	width: 390px;
	height: 100vw;
	margin: 0;
	padding-top: 1px;
	background: #transparent;
	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90deg) translateY(-390px);
	transform-origin: right top;
}

.horizontal-scroll-wrapper > div {
	display: block;
	padding: 5px;
	transform: rotate(90deg);
	transform-origin: right top;
}

.icon {
  height: 2em;
  margin: 0.5em;
}

.icon:hover {
  width: 2.5em;
  height: 2.5em;
  margin: 0.25em;
}

.icon-wrapper {
  padding-top: 1em;
  text-align: center;
}

.is-dropdown-submenu-parent:hover {
  background: #31444B;
}

.large-spacer {
  height: 50vh;
}

.logo a {
  padding: 0;
}

.logo img {
  height: 9vh;
}

.menu .active > a {
  background: inherit;
}

.name {
  display: flex;
  margin: 0 auto;
  font-weight: lighter;
  text-align: center;
}

.name p {
  font-size: 9vh;
}

.scrollhide-nav {
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.scrollhide-nav.hidden {
  transform: translateY(-100%);
}

.secondary-text {
  display: flex;
  margin: 0 auto;
  font-size: 5vh;
  font-weight: lighter;
}

.slide {
  position: relative;
  padding: 25vh 10%;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.slide, .slide:before {
  background: 50% 50% / cover;
}

#aboutme:before {
  background-image: url("../images/hero2.jpg");
  transform: translateZ(-1px) scale(2);
}

#process {
  background-image: url("../images/hero.jpg");
  /* background: linear-gradient(to top right, #0D1A1E, #1C2E35); */
  z-index:2;
}

.squares {
	padding: 390px 0 0 0;
}

.squares > div {
	width: 390px;
	height: 390px;
	margin: 10px 0;
}

.title {
  padding: 5%;
  border-radius: 5px;
  background: rgba(105,88,85, .95);
  box-shadow: 0 0 8px rgba(0, 0, 0, .9);
}

.title-header {
  text-align: right;
}
.top-bar {
  padding: 0.5em 2em;
  z-index: 5;
}

.top-bar,
.top-bar ul {
  background-color: #0D1A1E;
  color: #F7E8D3;
}

.work {
  padding: 10vh;
}

/* Large and up */
@media screen and (min-width: 64em) {
  .title {
    width: 40vw;
  }}

@media print, screen and (min-width: 40em) {
  .medium-up-2 > .cell {
    width: 100%;
    height: 80vh;
  }}

/* Small only */
@media screen and (max-width: 39.999em) {
  .copyright {
    width: 100%
    justify: center;
  }

  .footer-note {
    border: none;
  }
}
