body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 1.5;
  color: #446269; }

a {
  color: #1182DB;
  text-decoration: none; }
  a:hover {
    color: #009BFF; }

.btn {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  font-size: 20px;
  padding: 5px 15px; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.5); }

.buttons {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%; }

.image {
  background-color: #15515E;
  position: relative;
  width: 100%;
  opacity: 0.9;
  text-align: center; }

.page-header img{
  margin-top: 20px;
  max-width: 650px;
  width: 100%; }

.project-name {
  color: white;
  margin-top: 0;
  margin-bottom: 10px;
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%; }

.site-footer {
  font-size: 15px;
  padding-top: 20px;
  margin-top: 20px;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }
